section.what-awaits-you
  h2.section-title.what-awaits-you-title Что вас ждёт
  ul.what-awaits-you__list
    li.what-awaits-you__item
      picture.what-awaits-you__image
        source(
          srcset="img/what-awaits-you/special-knowledge.png",
          media="(min-width: 1170px)"
          )
        img(src="img/what-awaits-you/special-knowledge-tablet.png", alt="")
      .what-awaits-you__description.what-awaits-you__description--special-knowledge
        strong.what-awaits-you__title Спецзнания
        p.what-awaits-you__text
          | За 3 дня спецкурса вы получите знания,
          | которым обучают военных, альпинистов,
          | спасателей
    li.what-awaits-you__item.what-awaita-you__item--special-skills
      picture.what-awaits-you__image
        source(
          srcset="img/what-awaits-you/special-skills.png",
          media="(min-width: 1170px)"
          )
        img(src="img/what-awaits-you/special-skills-tablet.png", alt="")
      .what-awaits-you__description.what-awaits-you__description--special-skills
        strong.what-awaits-you__title Спецнавыки
        p.what-awaits-you__text
          | 3 дня в лесу, без палаток, зажигалок
          | и любых других гаджетов, которые
          | облегчали бы жизнь
    li.what-awaits-you__item
      picture.what-awaits-you__image
        source(
          srcset="img/what-awaits-you/extreme.png",
          media="(min-width: 1170px)"
          )
        img(src="img/what-awaits-you/extreme-tablet.png", alt="")
      .what-awaits-you__description.what-awaits-you__description--extreme
        strong.what-awaits-you__title Экстрим
        p.what-awaits-you__text
          | Смоделированные экстремальные ситуации, максимально
          | приближенные к реальности. Вам придётся спасать
          | утопающих из воды, спускаться по верёвке по отвесным
          | aскалам, добывать воду, жить в шалашах и землянках
    li.what-awaits-you__item.what-awaits-you__item--constant-stress
      picture.what-awaits-you__image
        source(
          srcset="img/what-awaits-you/constant-stress.png",
          media="(min-width: 1170px)"
          )
        img(src="img/what-awaits-you/constant-stress-tablet.png", alt="")
      .what-awaits-you__description.what-awaits-you__description--constant-stress
        strong.what-awaits-you__title Постоянный стресс
        p.what-awaits-you__text
          | Участникам предстоит преодолевая себя действовать
          | в стрессовой обстановке, применять на практике
          | полученные ранее знания
